.idea/
# Ignore node_modules and all its contents
llenv/
wizling/.env
wizling/wizling/static/drop/
wizling/wizling/static/hiragana_drop_back/
wizling/media/
__pycache__/
__init__.py
node_modules/
build_log.txt
*.yaml
# Ignore build and dist directories
build/
dist/
wizling/logs/django.log
# Ignore temporary and cache directories
.temp/
.cache/
.staticfiles/
# Ignore all files.
.DS_Store

.vscode/
.env
*.zip
.env
wizling/staticfiles/*
wizling/build_log.txt