{% load cms_tags menu_tags sekizai_tags static i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&family=Nunito&family=Poppins&display=swap"
        rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'hiragana_drop/css/style.css' %}" rel="stylesheet">
    <title>{% block title %}{% page_attribute "page_title" %} - Wizling {% endblock title %}</title>

</head>

<body>
    <canvas id="gameCanvas"></canvas>
    <input type="text" id="inputField" placeholder="Type here (advanced mode)" hidden>

    <script type="module">
        import Game from "{% static 'hiragana_drop/js/Game.js' %}";
        import KanaConverter from "{% static 'hiragana_drop/js/kana_converter.js' %}";

        const canvas = document.getElementById('gameCanvas');
        console.log('canvas width:', window.innerWidth);
        const ctx = canvas.getContext('2d');

        // Set canvas size to match viewport
        function resizeCanvas() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }

        // Initial size
        resizeCanvas();

        // Handle resize
        window.addEventListener('resize', resizeCanvas);

        // Start game
        const hashValue = window.location.hash.slice(1);
        console.log('Starting game with hash value:', hashValue);
        const game = new Game(canvas, ctx, hashValue);
    </script>
</body>

</html>