.card-deck {
  position: relative;
  width: 100%;
  height: 400px;
}

/* Current card styles */
.current-card-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Next card styles */
.next-card-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-200%, -50%);
}